<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>First Innings Score Predictor</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='ipl-favicon.ico') }}"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">


    <script
      src="https://kit.fontawesome.com/5f3f547070.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="bg-1"></div>
               <h2 class='container-heading'><span class='heading_first'>First Innings Score Predictor for </span><span class="heading_second">Indian Premier League (IPL)</span></h2>
               <div class='description'>
             <p>A Machine Learning Web App, Built with Flask, Deployed using Heroku.</p>
             <div class="bg-2"></div>
      </div>


    <!-- <slider >
      <slide><p>slide 1</p></slide>
      <slide><p>slide 2</p></slide>
      <slide><p>slide 1</p></slide>
      <slide><p>slide 2</p></slide>
    </slider> -->

  <div class="background">
    <div class="im-left"><img src="https://d13ir53smqqeyp.cloudfront.net/d11-static-pages/images/mobile_banner_new.webp" alt="logo"></div>
    <div class='div2'>
      <form action="{{ url_for('predict') }}" method="POST" style="
    margin-left: 261px">
          <!-- Batting Team Dropdown -->
          <select class="form-input align-center" name="batting-team">
              <option value="none">--- Select a Batting team ---</option>
              <option value="Mumbai Indians">Mumbai Indians</option>
              <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
              <option value="Chennai Super Kings">Chennai Super Kings</option>
              <option value="Rajasthan Royals">Rajasthan Royals</option>
              <option value="Kings XI Punjab">Kings XI Punjab</option>
              <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
              <option value="Delhi Daredevils">Delhi Daredevils</option>
              <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
          </select><br>
          <!-- Bowling Team Dropdown -->
          <select class="form-input align-center" name="bowling-team">
              <option value="none">--- Select a Bowling team ---</option>
              <option value="Mumbai Indians">Mumbai Indians</option>
              <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
              <option value="Chennai Super Kings">Chennai Super Kings</option>
              <option value="Rajasthan Royals">Rajasthan Royals</option>
              <option value="Kings XI Punjab">Kings XI Punjab</option>
              <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
              <option value="Delhi Daredevils">Delhi Daredevils</option>
              <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
          </select><br>
          <input class="form-input" type="text" name="overs" placeholder="Overs (>= 5.0) eg. 7.2"><br>
          <input class="form-input" type="text" name="runs" placeholder="Runs eg. 64"><br>
          <input class="form-input" type="text" name="wickets" placeholder="Wickets eg. 4"><br>
          <input class="form-input" type="text" name="runs_in_prev_5" placeholder="Runs scored in previous 5 Overs eg. 42"><br>
          <input class="form-input" type="text" name="wickets_in_prev_5" placeholder="Wickets taken in previous 5 Overs eg. 3"><br>

  <input type="submit" class="myButton" value="Predict Score">
  </form>
  </div>
  </div>

  <div class="team">
   <h4> RATING OF OUR PREDICTION APP!</h4>
  </div>
  <div class="rate"><img src="https://d13ir53smqqeyp.cloudfront.net/d11-static-pages/images/d11_rating.webp" alt="img"></div>
<!--      TEAM NAME-->
      <div class="team">
   <h4> OUR PROJECT TEAM</h4>
  </div>
  <div class="member">
    <div class="n1"><h5>MOBASHSHIRUR RAHMAN</h5>
      <p style="font-style: italic;">Python Developer</p>

        <a target="_blank" href="https://github.com/mobashshirurrahman"><i class="fab fa-github fa-lg contact-icon"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/mobashshirur-rahman-%F0%9F%91%B2-765186158/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
    </div>
    <div class="n1"><h5>MD SABIR HUSSAIN</h5>
      <p style="font-style: italic;">UI Developer</p>
      <a target="_blank" href="https://github.com/mobashshirurrahman"><i class="fab fa-github fa-lg contact-icon"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/mobashshirur-rahman-%F0%9F%91%B2-765186158/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
    </div>
    <div class="n1"><h5>ABHISHEK KUMAR</h5>
      <p style="font-style: italic;">Python Developer</p>
      <a target="_blank" href="https://github.com/mobashshirurrahman"><i class="fab fa-github fa-lg contact-icon"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/mobashshirur-rahman-%F0%9F%91%B2-765186158/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a></div>
    <div class="n1"><h5>MD RIZWAN ANSARI</h5>
      <p style="font-style: italic;">UI Developer</p>
      <a target="_blank" href="https://github.com/mobashshirurrahman"><i class="fab fa-github fa-lg contact-icon"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/mobashshirur-rahman-%F0%9F%91%B2-765186158/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
    </div>
  </div>
  <footer>
    <!-- <div class="foot">
      <div class="conatact"><a href="#">Contact Us</a></div>
      <div class="hire"><a href="#">Hire Us</a></div>
      <div>Copyright @ 2020</div> -->
      <section class="progress_bar">
        <div class="container2">
          <div class="progress_bar_inner">
           <p>Copyright @ 2020</p>
          </div>
        </div>
      </section>

    </div>

  </footer>

  </body>
</html>
